h1 {
    border-bottom:10px;
    text-decoration:none;
    color:#42bff4;
}

body {
    background-image: url("/cst-336/img/background/b2.jpg"); /* new tag */
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-color: black;
}

hr{
    text-align: center;
    /*margin: 2%;*/
    border-style: ridge;
    border-width: 2px;
    width: 100%;
    
}

#playerpoints{
    
    font-size: 1.5em;
    text-align: right;
    color: #003399;
    font-family: monospace;
}

table.darkTable {
  /*background-color: #4A4A4A;*/
    width: 50%;
    border-collapse: collapse;
    
}
table.darkTable td, table.darkTable th {
    /*border-style: dotted;*/
    /*border: 4px ridge #FFCB08;*/
    padding: 3px 2px;
}

/*table.darkTable thead {*/
/*    border-bottom: 3px ridge #FFCB08;*/
/*}*/
table.darkTable thead th {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-left: 2px ridge #FFCB08;
}
.tbody {
    opacity: 60;
}

#total {
    font-size: 1.5em;
    text-align: center;
    color: #003399;
    font-family: monospace;
}

footer {
    font-size: .9em;
    color: black;
}

input {
    background-color: #FFCB08; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input {
    background-color: #296FB6; 
    color: #FFCB08; 
    border: 2px;
}

input:hover {
    background-color: #FFCB08;
    color: #FFCB08;
}




