h1 {
    border-bottom:10px;
    text-decoration:none;
    color:#42bff4;
}

body {
    background-image: url("../img/back2.jpg"); /* new tag */
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

hr{
    text-align: center;
    border-style: inset;
    border-width: 4px;
    width: 100%;
    
}
#cards {
    text-align: left;
    padding-left: 300px;
    float: left;
    width: 100%;
}

#row {
    padding-bottom: 100px;
}

#total {
    text-align: center;
}

#game {
    padding-top: 100px;
}